/target/
/build/target/
/statusBasedArtifacts-agent/target/
/statusBasedArtifacts-common/target/
/statusBasedArtifacts-server/target/
\.project

\.settings/org\.eclipse\.m2e\.core\.prefs

\.vscode/tasks\.json

build/\.settings/org\.eclipse\.m2e\.core\.prefs

statusBasedArtifacts-agent/\.classpath

statusBasedArtifacts-agent/\.settings/org\.eclipse\.jdt\.apt\.core\.prefs

statusBasedArtifacts-agent/\.settings/org\.eclipse\.jdt\.core\.prefs

statusBasedArtifacts-agent/\.settings/org\.eclipse\.m2e\.core\.prefs

statusBasedArtifacts-common/\.classpath

statusBasedArtifacts-common/\.settings/org\.eclipse\.jdt\.apt\.core\.prefs

statusBasedArtifacts-common/\.settings/org\.eclipse\.jdt\.core\.prefs

statusBasedArtifacts-common/\.settings/org\.eclipse\.m2e\.core\.prefs

statusBasedArtifacts-server/\.classpath

statusBasedArtifacts-server/\.settings/org\.eclipse\.jdt\.apt\.core\.prefs

statusBasedArtifacts-server/\.settings/org\.eclipse\.jdt\.core\.prefs

statusBasedArtifacts-server/\.settings/org\.eclipse\.m2e\.core\.prefs

vs_code\.code-workspace
